body {

    background-image: linear-gradient(to right , #01004b, #000286 100%);
    background-size: cover;
    background-position: center center;
}

.slashMenu {
    background-color: #180070;
    height: 50px;
    width: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/*Iconon*/
.iconPerson {
    fill: #fdfdfdaa;
}

.iconBuscar {
    fill: #fdfdfdaa;
    position: right;
}

/*end iconos*/
.logo{
    position: absolute;
    left: 10px;
    top: 0px;
    margin: 10px;
    font-size : 50px;
    margin-top : 0px;
    color : white ; 
}

.slashSearch {
    display: flex;
    justify-content: center;
    margin-right: 200px;
    margin-left: 100px;
}

.fieldMenuText {
    width: 500px;
    margin: 10px;
    margin-right: 10px;
    margin-left: 100px;
    font-family: 'Pixelify Sans', cursive;
    font-size: 18px;
}

.boxUser {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    margin-top: 0px;
    margin-right: 0%;
    position: absolute;
    right: 10px;
}

.buttomMenuUsuario {
    background-color: #3a2c69;
    width: 170px;
    height: 30px;
    border: 2px solid #fdfdfdaa;
    margin: 10px;
    color: #fdfdfdaa;
    font-family: 'Pixelify Sans', cursive;
    font-size: 18px;
}

.buttomMenuUsuario:hover {
    color: black;
    background-color: #3df9ff;
    border: 2px solid black;
}

.slashOption {
    /*donde estan las opcines de tienda y juegos de ps4*/

    background-image: linear-gradient(#003eb3, #3be0e6 100%);
    background-size: cover;
    background-position: center center;
    height: 50px;
    margin: auto;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.slashObj1Option {
    font-family: 'Pixelify Sans', cursive;
    font-size: 30px;
    color: yellow;
    trasition: 0, 3s;
    marign-right: 20px;
    margin-left: 20px;

}

.slashObj2Option {
    font-family: 'Pixelify Sans', cursive;
    font-size: 30px;
    color: yellow;
    trasition: 0, 3s;
    marign-right: 20px;
    margin-left: 20px;
}

.slashObj3Option {
    font-family: 'Pixelify Sans', cursive;
    font-size: 30px;
    color: yellow;
    trasition: 0, 3s;
    marign-right: 20px;
    margin-left: 20px;
}

.slashObj1Option:hover {
    color: rgb(255, 0, 0); 
}

.slashObj2Option:hover {
    color: rgb(255, 0, 0); 
}

.slashObj3Option:hover {
    color: rgb(255, 0, 0); 
}